name: CI Python Code Checks

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip

      - name: Install dependencies with the compiled requirements (for Python 3.13)
        run: |
          pip install -r requirements.txt -e .[dev]

      - name: Run black
        run: |
          black --check .

      - name: Run isort
        run: |
          isort --check .
